body{
    margin:0;
    padding:0;
}
header {
    height:62px;
    background-color:#CA0007;
    line-height:62px;//文字居中
}

#logo {
    color:white;
    margin-left:161px;
    font-size:32px;
    float:left;
}
#menu {
    color:white;
    display:inline-block;
    float:right;
    margin-right:90px;
    margin-top:0px
}
#menu li {
    display:inline-block;
    padding:0 30px
}

#menu li.current {
    background-color:#FFF;
    color:#CA0007;
    padding-left:37px
}
#gallery{
    height:441px;
    position:relative;
}

#gallery .topic{
    height:441px;
    width:1265px;
    margin-top:-16px;
}
#gallery .bar{
    position:absolute;
    top:350px;
    left:161px;
}
#gallery .bar li{
    display:inline-block;
    border-top:3px solid #FFF;
    width:25px;
}
#gallery .bar li.current{
    border-color:#CA0007;
}

#middle {
    margin-bottom: 50px;
}

#middle ul {
    text-align: center;
    margin-top: 42px;
}
#middle li {
    display: inline-block;
    height: 150px;
    width: 150px;
    border-radius: 100%;
    font-size: 18px;
    margin: 0 25px;
}
#ca{
    background-color:#ec3635;
}
#cb{
    background-color:#e46b36;
}
#cc{
    background-color:#0CF;
}
#cd{
    background-color:#49ce57;
}
#middle li i {
    margin-top: 25px;
    margin-bottom: 10px;
    color: #fff;
}

#middle div{

    color: #fff;
}
#new{
    height:342px;
    background-color:#f3f3f3;
    position:relative;
}
#new .topic{
    position: absolute;
    top: 25px;
    left: 165px;
    font-size: 21px;
    color:#CA0007;
}
#new .picture{
    position: absolute;
    top: 70px;
    left: 165px;
    height: 227px;
    width: 290px;
}
#new .content{
    position: absolute;
    top: 70px;
    left: 475px;
    height: 227px;
    width: 466px;
}
#new .content ul{
    margin-left: -19px;
    margin-top: -13px;
}
#new .info li{
    color:black;
}
#new .message{
    height: 327px;
    width: 254px;
  float: right;
  margin-right: 55px;
  margin-top: 9px
}
#new .new_detail{
    height: 269px;
  width: 206px;
  padding-left: 20px;

}
#new li i {
    margin-top: 16px;
    margin-left: 33px;
    color: #fff;
}
#detail_1{
    list-style: none;
    height: 60px;
    background: #9071ce;
    margin-top: 10px;
    border-radius: 5%;
}
#detail_2{
    list-style: none;
    height: 60px;
    background: #cf9871;
    margin-top: 10px;
    border-radius: 5%;
}
#detail_3{
    list-style: none;
    height: 60px;
    background: #70cece;
    margin-top: 10px;
    border-radius: 5%;
}
#detail_4{
    list-style: none;
    height: 60px;
    background:#cf7092;
    margin-top: 10px;
    border-radius: 5%;
}
#new .new_detail div{
    display:inline;
    color: #fff;
}
#iron{
    height:227px;
    width:290px;
}
#case{
    height:471px;
    background-color:white;
    position:relative;
}
#case .topic{
    position: absolute;
    top: 52px;
    left: 165px;
    font-size: 22px;
    color:#CA0007;
}
#case .picture{
    padding-left:150px;
    width:1000px;
}
#case .bar{
    position:absolute;
    top:350px;
    left:161px;
    background-color:#CA0007
}
#case li{
    display:inline-block;
    height:163px;
    width:310px;
    margin:5px 3px;
    text-align:center
}
#case_png{
    height:163px;
    width:310px;
}
#partner{
    height:169px;
    background-color:white;
    position:relative;
}
#partner .topic{
    position: absolute;
    top: 20px;
    left: 165px;
    font-size: 22px;
    color:#CA0007;
}
#partner .brand{
    text-align:center;
}
#partner li{
    display:inline-block;
    margin:69px 9px;
}
#partner_png{
    height:47px;
    width:136px;
}
#buttom{
    height:52px;
    background-color:#4c4c4c;
    position:relative;
}
#buttom .topic{
    text-align:center;
    color:white;
    padding: 16px;
    font-size: 15px;
}
#footer{
    height:50px;
    background-color:#323232;
    position:relative;
}
#footer .topic{
    text-align:center;
    color:white;
    padding: 16px;
    font-size: 15px;
}
